:root {
  font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Custom color palette */
  --color-primary: #3FA110;
  --color-secondary: #146E37;
  --color-tertiary: #D7E6C8;
  --color-white: #F3F3F3;
  --color-black: #030303;

  color: var(--color-black);
  background-color: var(--color-white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-white);
  color: var(--color-black);
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: var(--color-secondary);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-black);
  font-weight: 700;
}

button {
  font-family: inherit;
  cursor: pointer;
  background-color: #f9f9f9;
}

